# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# temp artifacts
*.go.txt
go.mod.dev 

# proffler output
*.pprof

# security configuration
appreg.json
appreg.*.json

# build & release directories
/bin
/release
/data
